# TECH CHALLENGE 1 - Análise Exploratória de Vinhos Exportados

Abaixo seguem os códigos criados para os gráficos da análise exploratória desenvolvidos pelo Grupo 32 da pós tech em Data Analytics

## 1 - Preparação dos dados

In [1]:
# Importando as bibliotecas
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [2]:
# Importando os Dados tratados no outro notebook
df = pd.read_excel("outputs/DatasetFinal.xlsx")

In [3]:
# Removendo as duas primeiras colunas que são desnecessárias
df = df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])

In [4]:
# Realizando filtro para retornar apenas os últimos 15 anos para o tipo "Vinho Mesa"
df_filtrado = df[(df['Ano'] >= 2008) & (df['Tipo'] == 'Vinho Mesa')]

## 2 - Tabela com Top 15 países importadores de vinho brasileiro em dólares

In [5]:
# Realizando agrupamento dos dados para verificar os países com mais exportações nesse período vendo o total em dolar
vinho_mesa_dol = df_filtrado.groupby(by=['Pais'])[['Valor_KG', 'Valor_Dolar']].sum().sort_values(by=['Valor_Dolar'], ascending = False)

# Resetando o index e realizando a cópia do dataframe para a variável "vinho_mesa_paises_litros"
vinho_mesa_top15_dolar = vinho_mesa_dol[:15].reset_index()

# Inserindo separador de milhar nas colunas numéricas
vinho_mesa_top15_dolar['Valor_KG'] = vinho_mesa_top15_dolar['Valor_KG'].map("{:,}".format)
vinho_mesa_top15_dolar['Valor_Dolar'] = vinho_mesa_top15_dolar['Valor_Dolar'].map("{:,}".format)

# Renomenado as colunas do dataframe
vinho_mesa_top15_dolar = vinho_mesa_top15_dolar.rename(columns={"Valor_KG": "Quantidade em litros de vinho exportado",
                                                                 "Valor_Dolar": "Valor total em dolar de vinho exportado"})

# Visualizando o resultado
vinho_mesa_top15_dolar

,Pais,Quantidade em litros de vinho exportado,Valor total em dolar de vinho exportado
0,Paraguai,"29,214,770","38,719,031"
1,Russia,"39,029,799","25,504,484"
2,Estados Unidos da América,"3,563,355","9,684,567"
3,China,"2,509,458","4,746,525"
4,Reino Unido,"1,239,551","4,711,464"
5,Espanha,"1,993,000","3,808,552"
6,Holanda,"1,236,154","3,791,611"
7,Alemanha,"909,051","2,546,394"
8,Japão,"1,181,692","2,377,716"
9,Haiti,"1,791,603","2,327,208"
10,Belgica,"402,667","1,395,226"
11,Uruguai,"792,595","1,219,878"
12,Canada,"195,491","1,097,417"
13,Suica,"152,894","906,264"
14,França,"317,553","720,359"

## 3 - Tabela com Top 15 países importadores de vinho brasileiro em litros

In [6]:
# Realizando agrupamento dos dados para verificar os países com mais exportações nesse período vendo a quantidade em litro
vinho_mesa_litros = df_filtrado.groupby(by=['Pais'])[['Valor_KG', 'Valor_Dolar']].sum().sort_values(by=['Valor_KG'], ascending = False)

# Resetando o index e realizando a cópia do dataframe para a variável "vinho_mesa_paises_litros"
vinho_mesa_top15_litros = vinho_mesa_litros[:15].reset_index()

# Inserindo separador de milhar nas colunas numéricas
vinho_mesa_top15_litros['Valor_KG'] = vinho_mesa_top15_litros['Valor_KG'].map("{:,}".format)
vinho_mesa_top15_litros['Valor_Dolar'] = vinho_mesa_top15_litros['Valor_Dolar'].map("{:,}".format)

# Renomenado as colunas do dataframe
vinho_mesa_top15_litros = vinho_mesa_top15_litros.rename(columns={"Valor_KG": "Quantidade em litros de vinho exportado",
                                                                 "Valor_Dolar": "Valor total em dolar de vinho exportado"})

# Visualizando o resultado
vinho_mesa_top15_litros

,Pais,Quantidade em litros de vinho exportado,Valor total em dolar de vinho exportado
0,Russia,"39,029,799","25,504,484"
1,Paraguai,"29,214,770","38,719,031"
2,Estados Unidos da América,"3,563,355","9,684,567"
3,China,"2,509,458","4,746,525"
4,Espanha,"1,993,000","3,808,552"
5,Haiti,"1,791,603","2,327,208"
6,Reino Unido,"1,239,551","4,711,464"
7,Holanda,"1,236,154","3,791,611"
8,Japão,"1,181,692","2,377,716"
9,Alemanha,"909,051","2,546,394"
10,Uruguai,"792,595","1,219,878"
11,Portugal,"419,586","581,419"
12,Belgica,"402,667","1,395,226"
13,França,"317,553","720,359"
14,Australia,"274,654","469,248"

## 4 - Tabela com cálculo do valor médio do litro do vinho por país nos últimos 15 anos

In [7]:
# Lista dos 15 maiores países em litro de vinho brasileiro importado
lista_paises_KG = ["Russia", "Paraguai", "Estados Unidos da América", "China", "Espanha", "Haiti", "Reino Unido", "Japão", "Holanda",
               "Alemanha", "Uruguai", "Portugal", "Belgica", "França", "Australia"]

# Realização do filtro apenas com os países do top 15
vinho_mesa_preco_medio = df[(df['Ano'] >= 2008) & (df['Tipo'] == 'Vinho Mesa') & (df['Pais'].isin(lista_paises_KG))]

# Criando a coluna dolar_kg para verificar o valor em dolares do litro do vinho em cada pais e arredondando para 2 casas decimais
vinho_mesa_preco_medio["Dolar_KG"] = round(vinho_mesa_preco_medio["Valor_Dolar"]/vinho_mesa_preco_medio["Valor_KG"], 2)

# Nos casos que há divisão por zero (não houve importação de vinho) preenche com o valor "0"
vinho_mesa_preco_medio["Dolar_KG"] = vinho_mesa_preco_medio["Dolar_KG"].fillna(0)

# Remover valores igual a 0 para nao influenciar na média
vinho_mesa_paises_filtrado = vinho_mesa_preco_medio[vinho_mesa_preco_medio.Dolar_KG != 0]

# Criando dicionário para renomear o nome das colunas que serão mostradas no dataframe
dicionario = {"Valor_KG": "Quantidade em KG de Vinho Exportado", "Valor_Dolar": "Valor em Dolar de Vinho Exportado", "Dolar_KG": "Preco médio do litro de vinho exportado"}

# Realizando groupby, agg e renomeando as colunas
vinho_mesa_paises_final = vinho_mesa_paises_filtrado.groupby("Pais").agg({"Valor_KG": "sum", "Valor_Dolar": "sum",
                                                                      "Dolar_KG": "mean"}).rename(columns=dicionario)

# Arredondando para 2 casas decimais a coluna "Preco médio do litro de vinho exportado"
vinho_mesa_paises_final = vinho_mesa_paises_final.round({"Preco médio do litro de vinho exportado": 2})

# Inserindo o separador de milhares nas colunas
vinho_mesa_paises_final['Quantidade em KG de Vinho Exportado'] = vinho_mesa_paises_final['Quantidade em KG de Vinho Exportado'].map("{:,}".format)
vinho_mesa_paises_final['Valor em Dolar de Vinho Exportado'] = vinho_mesa_paises_final['Valor em Dolar de Vinho Exportado'].map("{:,}".format)

# Ordenando os valores 
vinho_mesa_paises_final = vinho_mesa_paises_final.sort_values(by="Preco médio do litro de vinho exportado", ascending = False)

# Exibindo o resultado
vinho_mesa_paises_final

,Quantidade em KG de Vinho Exportado,Valor em Dolar de Vinho Exportado,Preco médio do litro de vinho exportado
Pais,,,
Australia,"274,654","469,248",6.25
Belgica,"402,667","1,395,226",5.35
Alemanha,"909,051","2,546,394",4.44
China,"2,509,458","4,746,525",4.28
França,"317,553","720,359",4.09
Reino Unido,"1,239,551","4,711,464",4.02
Holanda,"1,236,154","3,791,611",3.70
Uruguai,"792,595","1,219,878",3.55
Portugal,"419,586","581,419",3.32
Estados Unidos da América,"3,563,355","9,684,567",3.01
Espanha,"1,993,000","3,808,552",2.77
Japão,"1,181,692","2,377,716",2.49
Russia,"39,029,799","25,504,484",1.52
Haiti,"1,791,603","2,327,208",1.36
Paraguai,"29,214,770","38,719,031",1.32